<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="u-width250">
		<div class="Image">
			<img src="images/flowers.jpg" class="Image-top">
		</div>
			
		<form action="#" method="post" class="Form ">
			<input type="text" class="Form-name" name="name" placeholder="Username">
			<input type="password" class="Form-password" name="password" placeholder="Password">
			<input type="button" class="Button" name="button" value="Login">
			<div class="Form-bottom">
				<div>
					<input type="checkbox" id="check" class="Form-bottomCheckbox" name="checkbox"><label for="chek">Remember Me</label>
				</div>
				<a href="#" class="Form-bottomForgot">Forgot Password?</a>
			</div>
		</form>
	</div>	
</body>
</html>